@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans-font {
    font-family: "Work Sans", sans-serif;
}

/* Shared */
.container {
    max-width: 1440px;
    margin: 0 auto;
}

.display_flex {
    display: flex;
}

.btn-primary {
    background-color: #FF900E;
    color: #fff;
    padding: 20px 25px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.section_text h2 {
    font-size: 2.6rem;
}

.section_text p {
    color: #727272;
    margin: 20px 0;
}

/* Header */
#header {
    background-color: #ff8f0e3a;
}

.navbar {
    padding: 40px 0;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    font-size: 3.2rem;
}

.list_item {
    gap: 40px;
}

.list_item li {
    list-style: none;
}

.list_item li a {
    text-decoration: none;
    color: #424242;
    font-size: 1.2rem;
}

.heading_text {
    text-align: center;
    max-width: 530px;
    margin: 0 auto 30px;
}

.heading_text h2 {
    font-size: 3.5rem;
}

.heading_text p {
    margin: 30px 0;
    color: #727272;
}

/* Feature Section */
.quick_feature {
    padding: 60px 0;
    gap: 50px;
    align-items: center;
}

.image_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.section_text {
    max-width: 470px;
}

.quick {
    color: #727272;
}

.fetu {
    color: #FF900E;
}

/* Enjoy Section */
.enjoy_section {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 80px 0;
}

.enjoy_content {
    flex: 1;
}

.enjoy_content h2 {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    font-size: 3rem;
}

.enjoy_feature_text {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 560px;
}

.enjoy_cart {
    border: 1px solid #a7a5a5;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    padding: 20px;
    border-radius: 5px;
}

/* Image */
.enjoy_section_img {
    flex: 1;
    position: relative;
    text-align: right;
}

.enjoy_section_img img {
    max-width: 100%;
}

/* Experience Button */
.experience-btn {
    position: absolute;
    bottom: 20px;
    left: -50px;
    text-align: left;
}

/* Some facts */
.somefact_items{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.somefact_cart{
    width: 240px;
    height: 240px;
    border: 1px solid #FF900E;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
footer{
    text-align: center;
    margin: 100px 0px;
    padding: 50px 0px;
    background-color: #727272;
    border-radius: 10px;
}

/* Responsive */
@media screen and (max-width: 576px) {
    .navbar{
        flex-direction: column;
    }
    .quick_feature {
        flex-direction: column;
    }
    .image_section{
        grid-template-columns: 1fr;
    }
    .enjoy_section_img{
        display: none;
    }
    .somefact_items{
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }
}