*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* Shared design */

.container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

/* Header section */
header{
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    padding: 216px 0;
    background-size: cover;
    background-position: center;
}
.header-container{
    display: flex;
    justify-content: flex-end;
}

.header-text{
    width: 525px;
    text-align: right;
     color: #FFFFFF;
}

.header-text h1{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 24px;
}

.header-text p{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
}

.btn1{
    padding: 20px 25px;
    color: #005FAC;
    font-size: 20px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
}

/* About section */

.about-container{
    display: flex;
    padding: 130px 0;
}

.about-img img{
   
}
.about-text{
    width: 420px;
    margin-left: 100px;
}

.about-text h1{
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 24px;
    padding-top: 230px;
    
}

.about-text p{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}

.about-text ul li{
    list-style-type: none;
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.about-text ul li i{
    padding-right: 25px;
}


/* Plan section */

.plan-container{
    text-align: center;
}

.plan-container h2{
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 50px;
}

.plan-items{
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.plan-card img{
    margin-bottom: 30px;
}
.plan-card h3{
    font-size: 25px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 16px;
}

.plan-card p{
    color: #737272;
}
.plan-image{
    margin: 150px 0;
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    background-size: cover, cover;   /* Gradient covers, watch fits inside */
    background-position: center, center; 
    background-repeat: no-repeat, no-repeat;
    padding: 60px;
    border-radius: 5px;
}

.plan-image-text h1{
   font-size: 40px;
   color: #FFFFFF;
   margin-bottom: 24px;
}

.plan-image-text button{
    color: #005FAC;
    padding: 20px 25px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
}

/* Footer start */
#footer{
    background-color: #000000;
    color: #FFFFFF;
}

.footer-container{
    display: flex;
    gap: 40px;
    padding: 100px 0;
   
}

.footer-text h1{
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 16px;

}
.footer-text p{
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.icons img{
    margin-right: 20px;
}

.footer-contact h3{
    font-size: 26px;
    font-weight: 400;
    color: #FFFfff;
    margin-bottom: 30px;
}

.footer-contact input[type='email']{
    width: 320px;
    background-color: #000000;
    padding: 15px 20px;
    border-radius: 3px;
    margin-bottom: 15px;
}
.footer-contact input[type='submit']{
    background-color: #005FAC;
    font-size: 20px;
    font-weight: 400;
    padding: 15px 25px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}