@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.poppins-font {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

/* Header start */

nav {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3A3A3A;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    color: #3A3A3A;
    transition: transform 0.5s ease, color 0.5s ease;
}

nav ul li a:hover {
    color: #E02C6D;
    transform: scale(1.2);
}

.scart {
    display: none;
}

/* Banner section */

#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 100px;
}

.banner_text {
    max-width: 580px;
}

.banner_text h1 {
    font-size: 3.2rem;
    font-weight: bold;
    color: #3A3A3A;
    line-height: 70px;
    margin-bottom: 20px;

}

.banner_text p {
    color: #3A3A3A;
    font-weight: 600;
    margin-bottom: 20px;
}

.btn-primary {
    font-weight: bold;
    background-color: #E02C6D;
    color: #ffffff;
    padding: 10px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 25px;
    gap: 10px;
    transition: transform 0.3s ease;
}

.btn-primary:hover {
    transform: scale(1.1);
}

.banner_image {
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: contain;

}

/* Spnosnor section */

.sponsors {
    padding: 40px 0px;
    margin-top: 50px;
    margin-bottom: 100px;
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    border-bottom: 2px solid #3a3a3a1b;
    border-top: 2px solid #3a3a3a1b;
}

/* Collection section */

.collection-container {
    max-width: 1050px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.collection-container h1 {
    font-size: 1.8rem;
    line-height: 70px;
    color: #3A3A3A;
    margin: 50px 0px;
}

.collections_container {
    background-color: #3a3a3a11;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.collection_card {
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    border-radius: 10px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.collection_card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.31)
}

.collection_card h2 {
    font-size: 1.8rem;
    margin: 10px 0px;
    font-weight: 600;
}

.collection_card h3 {
    font-size: 1.5rem;
    margin: 10px 0px;
}

.collection_card p {
    color: #3a3a3ad5;
    margin: 10px 0px;
}

.rating i {
    color: #ffc107;
    font-size: 18px;
}

.see_more {
    margin-left: auto;
    text-align: right;
}

.see_more a {
    color: #E02C6D;
    font-size: 1.8rem;
    display: inline-block;
    transition: transform 0.5s ease;
}

.see_more a:hover {
    transform: scale(1.1);
}

/* Featured section */

.feature {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    margin-bottom: 50px;
}

.text_section h1 {
    font-size: 2.4rem;
    color: #0A0826;
    margin-bottom: 20px;
}

.text_section p {
    color: #6C6C6C;
    padding-right: 20px;
    margin-bottom: 20px;
}

/* Footer */

footer {
    background-color: #040312;
    text-align: center;
    color: #ffffff;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* Responsive design */

@media screen and (max-width: 576px) {

    nav ul {
        display: none;
    }

    .scart {
        display: block;
    }

    #banner {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .banner_text {
        text-align: center;
        align-items: center;
    }

    .banner_image img {
        width: 100%;
    }

    .collections_container {
        grid-template-columns: 1fr;
    }

    .feature {
        flex-direction: column;
        text-align: center;
    }

    .feature img {
        width: 100%;
    }

    footer {
        padding: 40px 20px;
    }
}
